# file /etc/systemd/system/wakelock.service

[Unit]
Description=Lock the screen on resume from suspend
Before=sleep.target
Before=suspend.target

[Service]
User=guserav
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -c 113311

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
