---
- name: Install synaptics
  become: true
  package:
    name: xf86-input-synaptics
    state: installed

- name: Symlink Synaptics config file
  become: true
  file:
    src: "{{ role_path }}/files/60-synaptics-options.conf"
    dest: "/usr/share/X11/xorg.conf.d/60-synaptics-options.conf"
    state: link
