---
- name: Install git
  become: true
  package:
    name: git
    state: installed
  when: only_config is not defined

- name: Symlink config files
  file:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "~/.{{ item }}"
    state: link
  with_items:
    - gitattributes
    - gitfiles

- debug:
    msg: "Variable git_name or git_email is not defined. Creating gitconfig without user.email and user.name specified."
  when: git_name == "" or git_email == "" or git_name is undefined or git_email is undefined

- name: Copy templated gitconfig to final destination
  template:
    src: "{{ role_path }}/templates/gitconfig.j2"
    dest: "~/.gitconfig"
