[Unit]
Description=Automatic Update

[Timer]
OnBootSec=5min
OnActiveSec=10min
RandomizedDelaySec=5min
Persistent=True
OnCalendar=*-*-* 20:00:00
Unit=autoupdate.service
WakeSystem=False

[Install]
WantedBy=multi-user.target
